/* line 4, scss/application.scss */
header {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  height: 150px;
}
/* line 14, scss/application.scss */
header div.logo_container img {
  opacity: 1;
  float: left;
}
/* line 21, scss/application.scss */
header p.logo {
  color: #5e9cae;
  font-size: 3.0em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 45px;
  margin-right: 50px;
}
/* line 25, scss/application.scss */
header p.logo span {
  display: block;
  text-align: right !important;
  position: relative;
  top: -15px;
}
/* line 33, scss/application.scss */
header nav {
  float: right;
}
/* line 35, scss/application.scss */
header nav#menu {
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 1.2em;
}
/* line 38, scss/application.scss */
header nav#menu ul {
  text-transform: lowercase;
  font-weight: bold;
  float: right;
  width: 100%;
  list-style: none;
}
/* line 44, scss/application.scss */
header nav#menu ul li {
  opacity: 0.6;
  height: 20px;
  float: left;
  margin-left: 1px !important;
  margin-right: 1px !important;
  line-height: 20px;
  background: #c1e2e5;
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  */
}
/* line 55, scss/application.scss */
header nav#menu ul li a {
  display: block;
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
}
/* line 64, scss/application.scss */
header nav#menu ul li a:hover {
  color: #fff;
}
/* line 69, scss/application.scss */
header nav#menu ul li.selected, header nav#menu ul li:hover {
  background: #5e9cae;
}
/* line 72, scss/application.scss */
header nav#menu ul li.last {
  margin-right: 0px;
}

/* line 76, scss/application.scss */
body.main {
  /*background-image: url("images/Fondo.png");
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;*/
}
/* line 81, scss/application.scss */
body.main section#left, body.main section#right {
  display: none;
}

/* line 85, scss/application.scss */
body h1, body h2, body h3, body h4, body p, body a, body li {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: justify;
}
/* line 89, scss/application.scss */
body h1, body h2, body h3, body h4 {
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 92, scss/application.scss */
body h1, body h2, body h3, body h4, body strong {
  color: #5e9cae;
}
/* line 95, scss/application.scss */
body h1 {
  font-size: 4em;
  margin-bottom: 20px;
}
/* line 99, scss/application.scss */
body h2 {
  font-size: 1.7em;
  margin-bottom: 20px;
}
/* line 103, scss/application.scss */
body h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 113, scss/application.scss */
body h1#body_content_title {
  display: none;
}
/* line 115, scss/application.scss */
body section#body div.container {
  background: #5e9cae;
}
/* line 120, scss/application.scss */
body section#left, body section#right {
  width: 50%;
  height: 425px;
}
/* line 123, scss/application.scss */
body section#left ul, body section#right ul {
  margin-left: 40px;
  list-style: cjk-ideographic;
}
/* line 128, scss/application.scss */
body section#left img, body section#right img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}
/* line 133, scss/application.scss */
body section#left {
  width: 50%;
  float: left;
}
/* line 138, scss/application.scss */
body section#right {
  float: right;
}
/* line 140, scss/application.scss */
body section#right img {
  margin-top: 45px;
}
/* line 145, scss/application.scss */
body footer {
  margin-left: 1px;
  margin-top: 33px;
  padding-top: 6px;
  padding-left: 10px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #5e9cae;
}

/* line 157, scss/application.scss */
div#home_texts_web p {
  color: white;
  margin-top: 60px;
  font-size: 3em;
}

/* line 163, scss/application.scss */
div#home_texts_rfid p {
  color: white;
  margin-top: 100px;
  font-size: 3em;
}

/* line 169, scss/application.scss */
div#home_texts_moviles p {
  color: white;
  margin-top: 50px;
  font-size: 3em;
}

/*CONTACT*/
/* line 178, scss/application.scss */
div#contact .field label {
  text-align: right;
  margin-right: 10px;
  color: #5e9cae;
}
/* line 183, scss/application.scss */
div#contact .field input, div#contact .field textarea {
  border: 2px solid #c1e2e5;
}

/* line 188, scss/application.scss */
div#contact .message_field {
  margin-left: 20px;
  margin-top: 0px;
}
/* line 190, scss/application.scss */
div#contact .message_field label {
  text-align: left;
  margin-left: 5px;
}

/* line 197, scss/application.scss */
p#contact_message {
  margin-top: 30px;
  width: 100%;
  font-size: 2em;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica;
  color: #5e9cae;
}

/* line 208, scss/application.scss */
div.project {
  border-bottom: 2px solid #5e9cae;
  margin-bottom: 30px;
}
/* line 209, scss/application.scss */
div.project a {
  text-decoration: none;
  color: #5e9cae;
}
/* line 213, scss/application.scss */
div.project img.logo {
  margin: auto auto;
  margin-top: 100px;
}
/* line 217, scss/application.scss */
div.project ul.image_gallery {
  display: block;
  list-style: none;
}
/* line 220, scss/application.scss */
div.project ul.image_gallery li {
  float: left;
  margin-top: 18px;
  margin-bottom: 36px;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
/* line 230, scss/application.scss */
.isotope-item {
  z-index: 2;
}

/* line 234, scss/application.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/* line 242, scss/application.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 249, scss/application.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 256, scss/application.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
/* line 267, scss/application.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
/* line 279, scss/application.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 286, scss/application.scss */
div#mosaic {
  margin-top: 80px;
  margin-right: 0px !important;
  margin-left: 0px;
  height: 600px !important;
  width: 720px !important;
  float: right;
}
/* line 291, scss/application.scss */
div#mosaic .mosaic-item {
  margin: 10px;
}
/* line 295, scss/application.scss */
div#mosaic .mosaic-image img {
  width: 100%;
}
/* line 299, scss/application.scss */
div#mosaic li.mosaic-item {
  border-radius: 15px 0 0 0;
  display: block;
  list-style: none;
  height: 60px;
  background-color: #5e9cae;
}
/* line 304, scss/application.scss */
div#mosaic li.mosaic-item h3 {
  color: white;
  text-align: center;
  margin-top: 17px;
}
