/* line 4, scss/gallery.scss */
div#project_list {
  padding: 5px;
  height: 459px;
}
/* line 8, scss/gallery.scss */
div#project_list ul {
  list-style: none;
}
/* line 10, scss/gallery.scss */
div#project_list ul li.project_link {
  margin-left: 0px;
}
/* line 12, scss/gallery.scss */
div#project_list ul li.project_link a {
  color: #5e9cae;
}
/* line 15, scss/gallery.scss */
div#project_list ul li.project_link.selected a {
  color: black;
  font-weight: bolder;
}
/* line 21, scss/gallery.scss */
div#project_list a {
  text-decoration: none;
}

/* line 27, scss/gallery.scss */
ul#gallery {
  visibility: hidden;
}

/* line 31, scss/gallery.scss */
.gv_caption {
  opacity: 0.8;
  background: white;
}

/* line 35, scss/gallery.scss */
.gv_galleryWrap {
  background-color: #c1e2e5;
}

/* line 38, scss/gallery.scss */
.gv_panel img {
  opacity: 1.0;
  background-color: white;
}

/* line 43, scss/gallery.scss */
.gv_frame {
  background: black;
}
/* line 46, scss/gallery.scss */
.gv_frame img {
  background: white;
}

/* line 54, scss/gallery.scss */
.gv_overlay, .gv_showOverlay {
  opacity: 0.7;
}
