$felix_light: #99A49C;
$felix_dark: #5E9CAE;

header {
    margin: {
        top:20px !important; bottom:1px !important;
    }
    $header_height: 140px;
    height: $header_height;
    //background: white; opacity: 0.9;
    div.logo_container {
        //height: 83px;
        //width: 299px;
        img {
            opacity: 1;
            //height: 100%;
            float: left;
        }
    }
    //border-bottom: 2px solid $etware_blue !important;
    p.logo {
        color: $felix_dark;
        font-size: 3.0em;
        margin: {top: 0px; bottom: 0px; left: 45px; right: 50px;}
        span {
            display: block;
            text-align: right !important;
            //margin: {left: 35px;}
            position: relative;
            top: -15px;
        }
    }
    nav {float: right;}
    
    nav#menu {
        margin: {left: 30px; top: 70px; bottom: 50px;}
        font-size: 1.2em;
        ul {
            text-transform: lowercase;
            font-weight: bold;
            float: right;
            width: 100%;
            list-style:none; 
            li {
                opacity: 0.6;
                height: 20px;
                float:left;
                margin: {left: 1px !important; right: 1px !important;}
                line-height: 20px;
                background: $felix_light;
                /*-webkit-border-radius: 4px;
                -moz-border-radius: 4px 4px 4px 4px;
                border-radius: 4px 4px 4px 4px;
                */
                a {
                    display: block;
                    //background:#aaa; 
                    color: white;
                    text-align: center;
                
                    display:block; 
                    text-decoration:none;
                }
                a:hover {
                    //background:#aaa; 
                    color:#fff; 
                }
            }
            li.selected, li:hover  {
                background: $felix_dark;
                opacity: 1.0;
            }
            li.last { margin-right: 0px;}
        }
    }
}
body.main {
    /*background-image: url("images/Fondo.png");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 0;*/
    section#left , section#right { display:none;}
}
body {
    
    h1, h2, h3, h4, p, a , li{
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    h1, h2, h3, h4 {
        margin: {top: 15px; bottom: 20px;}
    }
    h1, h2, h3, h4, strong {
        color: $felix_dark ;
    }
    h1 {
        font-size: 4em;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 1.7em;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.3em;
        margin-bottom: 10px;
        
    }
    div#page_container {
        //border-left: 2px solid $etware_blue !important;
        //border-right: 2px solid $etware_blue !important;
        
    }
    h1#body_content_title {display:none;}

    section#body div.container{
        background: $felix_dark;

        
    }
    section#left , section#right {
        width: 50%;
        height: 425px;
        ul {
            margin: {left: 40px;}
            list-style: cjk-ideographic;
        }
        //h3 {text-align: center;}
        img {
            margin: {left: auto; right: auto; top:10px;}
            display: block;
        }
    }
    section#left {
        width: 50%;
        float: left;
    }

    section#right {
        float:right;
        img {   
            margin: {top:45px;}
        }
    }

    footer {
        margin: {left: 1px; top: 33px;}
        //border-top: 2px solid $etware_blue !important;
        padding: {top:6px; left: 10px;}
        text-align: right;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        color: $felix_dark;
    }


}


/*CONTACT*/

div#contact .field {
    
    label {
        text-align: right;
        margin: {right: 10px;}
        color: $felix_dark;
        width: 150px;
        float: left;
    }
    input, textarea {
        border: 2px solid $felix_light;
        width: 200px;
    }
    textarea {width: 340px !important;}
}
div#contact .message_field {
    margin: {left: 20px; top: 0px;}
    label {
        text-align: left;
        margin: {left: 5px;}
    
    }
    
}
p#contact_message {
    margin: {top: 30px;}
    width: 100%;
    font-size: 2em;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica;
    color: $felix_dark;
}


.inquiries form .actions {
  margin-left: 150px;
}
.inquiries form .actions input {
  //width: auto;
}
.inquiries .field {
  margin: 12px 0px;
}
.inquiries form {
  padding-top: 12px;
}

#privacy {
   margin: {top:20px;left: 20px;}
   width: 340px;
   color: $felix_dark;
   
    a {
      color: $felix_light;
   
   }
}

.page_not_live {
  border: 1px solid #A00027;
  color: #A00027;
  background: #FFB1B1;
  padding:3px 9px;
  font-weight:bold;
  width:auto;
}




//CUSTOMERS specifics

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

div#mosaic {
    
    cursor: pointer ;
    margin: {top: 40px; right: 0px !important; left: 0px;}
    height: 580px !important;
    width: 720px !important;
    float: right;
    .mosaic-item {
       margin: 10px
    }
    .mosaic-image {
        img {
            width: 100%;
        }
    }
    li.mosaic-item {
        border-radius: 15px 0 0 0;
        display: block;
        list-style: none;
        height: 60px;
        h3 {
            color: white;
            text-align: center;
            margin-top:17px;
        }
        background-color: $felix_dark;
    }
     
}

.loading {
    visibility: hidden;
    
 }