$felix_light: #99A49C;
$felix_dark: #5E9CAE;

div#project_list{
    height: 459px;
    h3 {
        margin: {top: 1px; bottom: 5px;}
        cursor: pointer;
    }
    h3.active {
        //background: $felix_light;
        text-decoration: underline;
    }
    //border-right: 1px solid $felix_dark;
    ul {
        list-style: none;
        list-style: none;
        margin-left: 0;
        padding-left: 10px;;
        text-indent: -7px;
        color: $felix_light ;
        
        li.project_link {
            margin-left: 10px;
            a {
                text-align: left;
                text-justify: none;
                color: $felix_dark;
            }
        }
        li:before {content: "|"} 
        li.project_link.selected {
            a {
                color: $felix_light;
                cursor: text;
                //text-decoration: underline;
            }
        }
    }
    a {
        
        text-decoration: none;
    }
}
#gallery_container {
    //border-left: 5px solid $felix_light;
    
    #thumbs_mosaic_container {
        height: 200px!important;
        //border-bottom: 1px solid $felix_light;
        border: 5px solid $felix_light;
        border-bottom: none;
        padding: 11px;
        .thumb_container {
            display: inline;
            float: left;
            
            background: black;
            margin: 5px !important;
            /*            height: 30px;
            width: 100px;*/
            overflow-y: none;
            img {
                cursor: pointer;
                width: 100%; 
                height: inherit;
                background: white;
                opacity: 0.4;
            }
            img.active {
                opacity: 1.0;
                cursor: auto;
            }
            img.active {
                border: 1px solid $felix_light !important;
/*                padding: 1px;                */
            }
        }
        .width1 {width: 81px !important; height: 40px; }
        .width2 {width: 172px !important;height: 90px;}
        
    }
    .gallery_wrapper {
        //border-left: 1px solid $felix_light;
        display: none;
        ul#gallery {
            visibility: hidden;
        }
    }
    .gallery_wrapper.active {display: block;}
    .gv_caption {
        opacity: 0.8;
        background: white;
    }
    .gv_galleryWrap {
        background-color: $felix_dark; 
        margin-left: 0px;
    }
    .gv_panel img {
        opacity: 1.0;
        background-color: white;    
    }
    
    .gv_frame {
        //margin: {bottom: 5px;}
        background: black;
        img {
            background: white;  
        }
    }
    .gv_filmstripWrap {
        
    }
    
    .gv_overlay, .gv_showOverlay{
        opacity: 0.7;
    }
    
}
.loading{
    visibility: hidden;
}