$felix_light: #C1E2E5;
$felix_dark: #5E9CAE;

div#project_list{
    padding: 5px;
    height: 459px;
    //border-right: 1px solid $felix_dark;
    ul {
        list-style: none;
        li.project_link {
            margin-left: 0px;
            a {color: $felix_dark}
        }
        li.project_link.selected {
            a {
                color: black;
                font-weight: bolder;
            }
        }
    }
    a {
        
        text-decoration: none;
    }
}

ul#gallery {
    img.thumb{
        height: 150px;
    }
}

.gv_galleryWrap {
    background-color: $felix_light;    
}
.gv_panel img {
      opacity: 1.0;
      background-color: white;    
    }
    
.gv_frame {
    //margin: {bottom: 5px;}
    background: white;
}
.gv_filmstripWrap {
    
 }
 
 .gv_overlay, .gv_showOverlay{
     opacity: 0.7;
 }