.category_text_container h3 {
    font-family: "Exo Light";
    font-weight: normal;
    
}
h3.mosaic-item{
        font-family: "Exo Medium" !important;
        /*        font-weight: normal;*/
        
}
